.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 156px;
  max-width: 1440px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery-image:hover {
  transform: scale(1.04);
}

.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
